/* "Merriweather" and "Inter" font import from fonts-google.com */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Merriweather", serif; */
  font-family: "Inter", sans-serif;
}
ol,
ul,
li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  width: 82%;
}

/* Header section styles start from here */
#banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../images/hero-bg.png);
  padding: 175px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 16px;
  margin-top: 50px;
}
#banner h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  font-family: "Merriweather", serif;
  margin: 16px;
}
#banner h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  font-family: "Merriweather", serif;
}

/* Discount section styles start from here */
#discount {
  text-align: center;
  margin: 120px auto;
}
#discount h3 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
}
#discount h5 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin: 48px 0 16px 0;
}
#discount h4 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

/* Party banner section styles start from here */
#party-banner {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../images/party-banner.png);
  display: flex;
  align-items: center;
  padding: 60px 120px;
  border-radius: 16px;
}
#party-banner .banner-text h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  font-family: "Merriweather", serif;
}
#party-banner .banner-text p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 24px 0;
}
button {
  padding: 15px 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background: #070211;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  cursor: pointer;
}

/* Address section styles start from here */
#address {
  text-align: center;
  padding: 100px 0;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin: 120px auto;
  border-radius: 16px;
}
#address h3 {
  color: #f00;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  margin-bottom: 49px;
}

/* Offer Section styles start from here */
#offer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#offer .offer-left h4 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.offer-left h3 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 16px 0 22px;
}
.offer-left p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 393px;
}
.offer-img {
  border: 15px solid #f00;
  padding: 48px;
  border-radius: 50%;
}
.offer-right h3 {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
}
.offer-right p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 16px 0 22px;
  width: 276px;
}

/* Discount section HTML start from here */
#discount h4 {
  color: #070211;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.discount-heading h3 {
  color: #f00;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
}
.discount-heading h3 span {
  font-family: "Merriweather", serif;
  color: #070211;
}
.discount-heading p {
  width: 1068px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 auto;
}
.discount-img {
  background: url(../images/discount-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 230px;
  margin-top: 490px;
  position: relative;
}
.gift {
  position: absolute;
  top: -450px;
  left: 0;
}
.discount {
  position: absolute;
  bottom: 300px;
  right: 50px;
}

/* Portfolio section styles start from here */
#portfolio {
  /* background-color: #070211; */
}
.section-heading {
  margin-bottom: 48px;
}
.section-heading h4 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.section-heading h3 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
  text-transform: capitalize;
}
.section-heading p {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.portfolio-img-container .port-img {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.port-img:last-child {
  margin-top: 24px;
}

/* Newsletter section styles start from here */
#newsletter {
  padding: 80px 0;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  margin: 120px auto;
}
.newsletter-con h3 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  margin: 40px 0 22px;
  text-transform: capitalize;
}
.newsletter-con p {
  color: rgba(7, 2, 17, 0.6);
  margin: 0 auto 48px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 896px;
}
.newsletter-con form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 648px;
  margin: 0 auto;
}
.newsletter-con form .email {
  padding: 30px 25px;
  border-radius: 50px 0 0 50px;
  background: #fff;
  border: none;
  width: 100%;
}
.newsletter-con form input::placeholder {
  color: rgba(7, 2, 17, 0.3);
  font-family: "Inter", serif;
  font-size: 18px;
  font-weight: 400;
}
.newsletter-con form .btn {
  padding: 24px 56px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  border: none;
  background: #ff0000;
  border-radius: 0 50px 50px 0;
}
