/* "Merriwether" and "Inter" font import from fonts-google.com */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Merriweather", serif; */
  font-family: "Inter", sans-serif;
}
ol,
ul,
li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  width: 82%;
}

/* Header section styles start from here */
#banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../images/hero-bg.png);
  padding: 175px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 16px;
  margin-top: 50px;
}
#banner h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  font-family: "Merriweather", serif;
  margin: 16px;
}
#banner h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  font-family: "Merriweather", serif;
}

/* Discount section styles start from here */
#discount {
  text-align: center;
  margin: 120px auto;
}
#discount h3 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
}
#discount h5 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin: 48px 0 16px 0;
}
#discount h4 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
